nav {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  padding-bottom: 1rem;
  border-bottom: 2px solid hsl(223, 64%, 98%);
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__right {
  display: flex;
  align-items: center;
}

.nav__user {
  width: 40px;
}

.nav__user--blank {
  width: 40px;
  height: 40px;
  background-color: hsl(26, 100%, 55%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.nav__login {
  color: hsl(219, 9%, 45%);
  font-size: 15px;
  transition: all 100ms ease;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.nav__login:hover {
  color:hsl(220, 13%, 13%);
  border-bottom: 2px solid hsl(220, 13%, 13%);
}

.nav__register {
  background-color: hsl(26, 100%, 55%);
  color: #fff;
  border: none;
  padding: 0.6rem 1.1rem;
  margin-left: 1rem;
  font-weight: bold;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: -1px 3px 10px 1px hsla(26, 100%, 55%, 0.219);
  transition: all 300ms ease;
}

.nav__register:hover {
  background-color: hsl(26, 100%, 63%);
}

.nav__anchor {
  margin-left: 2rem;
  color: hsl(219, 9%, 45%);
  font-size: 15px;
  transition: all 100ms ease;
  border-bottom: 2px solid transparent;
}

.nav__anchor:hover {
  color:hsl(220, 13%, 13%);
  border-bottom: 2px solid hsl(220, 13%, 13%);
}

.cart__toggle {
  border: none;
  background-color: transparent;
  color: hsl(220, 13%, 13%);
  margin-right: 24px;
  cursor: pointer;
  font-size: 20px;
  color: hsl(219, 9%, 45%);
  transition: all 300ms ease;
}

.nav__logo--mobile {
  display: none;
}

.cart__toggle:hover {
  color:hsl(220, 13%, 13%);
}

.cart--wrapper {
  position: relative;
}

.cart__modal {
  position: absolute;
  width: 380px;
  right: -100%;
  top: 40px;
  box-shadow: 1px 1px 16px 8px rgba(0, 0, 0, 0.164);
  background-color: #fff;
  border-radius: 12px;
  z-index: 500;
}

.cart__img {
  width: 100px;
  border-radius: 20px;
  overflow: hidden;
  height: 100px;
  object-fit: cover;
}

.modal__title {
  color: hsl(220, 13%, 13%);
  font-size: 20px;
  padding: 1.5rem;
}

.modal__divider {
  background-color: hsl(223, 64%, 98%);
  height: 2px;
}

.cart__item {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__title {
  color: hsl(219, 9%, 45%);
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 8px;
}

.cart__total {
  color: hsl(219, 9%, 45%);
  font-size: 16px;
  font-weight: 500;
}

.cart__size {
  color: hsl(219, 9%, 45%);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.total__price {
  color: hsl(220, 13%, 13%);
  font-weight: 700;
  margin-left: 12px;
}

.cart__item--info {
  margin-right: 16px;
  width: calc(90% - 110px)
}

.cart__delete {
  background-color: transparent;
  border: none;
  color: hsl(219, 9%, 45%);
  cursor: pointer;
  transition: all 300ms ease;
}

.cart__delete:hover {
  color: rgb(223, 54, 54)
}

.cart__item:hover {
  background-color: hsl(223, 64%, 98%);
}

.modal__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  background-color: hsl(26, 100%, 55%);
  color: #fff;
  width: 80%;
  margin: 0 auto;
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  box-shadow: -1px 3px 28px 1px hsla(26, 100%, 55%, 0.219);
  transition: all 300ms ease;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.modal__btn:hover {
  background-color: hsl(26, 100%, 63%);
}

.empty__cart {
  text-align: center;
  margin: 3rem 0;
  color: hsl(220, 13%, 13%);
}

.recommended__sneakers {
  display: flex;
  justify-content: space-between;
}

.recommended__row {
  max-width: 1200px;
}

.auth__modal--wrapper {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mantine-Modal-header {
  padding: 1.5rem 2rem 0 2rem;
}

.mantine-Modal-title {
  color: hsl(220, 13%, 13%);
  font-size: 32px;
  font-weight: 700;
}

.auth__modal--para {
  color: hsl(219, 9%, 45%);
  width: 100%;
  line-height: 1.5;
  margin-bottom: 16px;
  font-size: 15px;
}

.modal__cta {
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  margin-left: 8px;
  cursor: pointer;
}

.modal__cta:hover {
  text-decoration: underline;
}

.input__label {
  margin-bottom: 4px;
  font-size: 18px;
}

.auth__modal--input {
  border-radius: 4px;
  outline: none;
  border: 2px solid hsl(225, 25%, 94%);
  background-color: hsl(225, 25%, 94%);
  font-size: 16px;
  padding: 10px 24px 10px 8px;
  width: 100%;
  transition: all 300ms ease;
  color: hsl(220, 13%, 13%);
  margin-bottom: 16px;
}

.auth__modal--btn {
  width: 100%;
  margin-bottom: 12px;
}

.auth__modal--input:focus, .auth__modal--input:hover {
  border: 2px solid hsl(26, 100%, 55%);
}

.modal__checkbox {
  font-size: 16px;
  color: hsl(219, 9%, 45%);
}

.fa-spinner {
  color: hsl(26, 100%, 55%);
  font-size: 40px;
  padding: 4rem;
  animation: spinner 600ms infinite linear;
}

.modal__error {
  color: red;
  margin-bottom: 8px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.popover__menu {
  display: flex;
  flex-direction: column;
}

.menu__link {
  color: hsl(219, 9%, 45%);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 16px 16px;
}

.menu__link:hover {
  background-color: hsl(223, 64%, 98%);
}

.nav__account {
  display: flex;
  align-items: center;
}

.nav__login--skeleton {
  width: 48px;
  height: 16px;
  border-radius: 4px;
  background-color: #ccc;
  margin-right: 16px;
}

.nav__register--skeleton {
  width: 100px;
  height: 28px;
  background-color: #ccc;
  border-radius: 4px;
}

.mobile__cart {
  display: none;
}

.menu__btn {
  display: none;
}

/* Product Page */

.product__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__imgs--wrapper {
  width: 45%;
  height: auto
}

.product__description {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.product__img--main {
  width: 100%;
  border-radius: 20px;
}

.product__thumbnail--figure:hover .product__thumbnail{
  opacity: 0.5;
}

.product__img {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  height: 500px;
  object-fit: cover;
}

.product__thumbnails {
  margin-top: 1.5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.product__thumbnail--figure {
  width: 20%;
  
  cursor: pointer;
  height: auto;
  border: 3px solid transparent;
}

.product__thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: all 300ms ease;
}

#selected {
  border: 3px solid hsl(26, 100%, 55%);
  border-radius: 25px;
}

.selected .product__thumbnail {
  opacity: 0.5;
}

.product__sub-title {
  color:hsl(26, 100%, 55%);
  margin-bottom: 16px;
}

.product__title {
  font-size: 44px;
  line-height: 1.1;
  color: hsl(220, 13%, 13%);
  margin-bottom: 8px;
}

.product__category {
  color: hsl(219, 9%, 45%);
  margin-bottom: 24px;
}

.product__para {
  color:hsl(219, 9%, 45%);
  line-height: 1.6;
  margin-bottom: 1rem;
}

.product__save {
  color: hsl(219, 9%, 45%);
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 300ms ease;
}

.product__save:hover {
  color: hsl(26, 100%, 55%);
}

.product__price--wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-bottom: 2rem;
}

.product__price {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.product__discount {
  color:hsl(26, 100%, 55%);
  font-size: 16px;
  margin-left: 20px;
  background-color: hsla(26, 100%, 55%, 0.205);
  padding: 0.2rem 0.38rem;
  border-radius: 8px;
}

.regular__price {
  color:hsl(220, 14%, 75%);
  font-size: 15px;
  text-decoration: line-through;
  font-weight: 500;
}

.product__size--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product__size {
  width: 18%;
  border: 2px solid hsl(220, 14%, 75%);
  background-color: transparent;
  border-radius: 8px;
  padding: 0.6rem;
  cursor: pointer;
  font-weight: 700;
  color:hsl(220, 13%, 13%);
  transition: all 200ms ease;
  margin-bottom: 16px;
}

.product__size:hover {
  background-color: hsl(220, 14%, 75%);
}

#size-selected {
  background-color: hsl(220, 14%, 75%);
}

.product__quantity--wrapper {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.quantity__selector {
  width: 33%;
  position: relative;
}

.fa-minus {
  position: absolute;
  top: 1.1rem;
  left: 0.6rem;
  margin: auto;
}

.fa-plus {
  position: absolute;
  margin: auto;
  top: 1.1rem;
  right: 0.6rem;
}

.fa-minus, .fa-plus {
  cursor: pointer;
  font-size: 16px;
  color:hsl(26, 100%, 55%);
  transition: all 200ms ease;
}

.fa-minus:hover, .fa-plus:hover {
  color:hsl(26, 78%, 66%);
}

.fa-minus:active, .fa-plus:active {
  transform: scale(0.6);
}

.product__quantity {
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  background-color: hsl(223, 64%, 98%);
  padding: 1rem;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
}

.product__quantity::-webkit-inner-spin-button {
  display: none;
}

.add-to-cart__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  background-color: hsl(26, 100%, 55%);
  color: #fff;
  width: 55%;
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  box-shadow: -1px 3px 28px 1px hsla(26, 100%, 55%, 0.219);
  transition: all 300ms ease;
}

.add-to-cart__btn:hover {
  background-color: hsl(26, 100%, 63%);
}

.add-to-cart__btn .material-symbols-rounded {
  font-size: 18px;
  margin-right: 12px;
}



/* FAQ */

.section__title {
  color: hsl(220, 13%, 13%);
  text-align: center;
  font-size: 48px;
  margin-bottom: 56px;
}

.accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion__item {
  padding: 1rem;
  margin: 0.6rem 0;
  border-radius: 20px;
  box-shadow: 0 2px 5px 9 rgba(0, 0, 0, 0.25);
  width: 90%;
}

.accordion__header {
  color: hsl(220, 13%, 13%);
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 16px;
  margin-bottom: 8px;
  border-bottom: 1px solid hsla(217, 9%, 45%, 0.274);
  min-height: 2.5rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: all 300ms ease;
}

.accordion__header::after {
  content: '\002B';
  font-size: 32px;
  color: hsl(220, 13%, 13%);
  position: absolute;
  right: 12px;
  transition: all 300ms ease;
}

.accordion__header.active {
  color: hsl(26, 100%, 55%);
}

.accordion__header.active::after {
  content: '\002B';
  transform: rotate(45deg);
  color: hsl(26, 100%, 55%);
}

.accordion__body {  
  line-height: 1.75;
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms ease
}

.accordion__body--text {
  color: hsl(219, 9%, 45%);
}

/* Footer */

footer {
  background-color: #f2f2f2;
  height: 240px;
  display: flex;
  align-items: center;
}

.footer__container {
  padding: 3rem 0;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer__logo {
  width: 150px;
  margin-bottom: 16px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.footer__slogan {
  color: hsl(219, 9%, 45%);
  margin-bottom: 16px;
}

.footer__copyright {
  color: hsl(219, 9%, 45%);
  margin-bottom: 16px;
}

.footer__social--links {
  width: 60%;
  display: flex;
}

.footer__social--link {
  color: hsl(220, 13%, 13%);
  font-size: 18px;
  margin-right: 16px;
  transition: all 300ms ease;
}

.footer__social--link:hover {
  color: hsl(26, 100%, 55%);
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__links--title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}

.footer__links li {
  margin-bottom: 8px;
}

.footer__link {
  color: hsl(219, 9%, 45%);
}

.footer__link:hover {
  text-decoration: underline;
  color: hsl(220, 13%, 13%);
}

/* Collections page */

#collections__hero {
  height: calc(100vh - 80px - 240px);
  width: 100%;
  display: flex;
}

.hero__half {
  width: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.hero__img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease;
}

.hero__backdrop {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.164);
  width: 100%;
  height: 100%;
  transition: all 300ms ease;
}

.hero__half:hover .hero__img {
  transform: scale(1.1);
}

.hero__half:hover .hero__backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.hero__inside {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: all 500ms ease;
  transform: translateX(-100%);
}

.inside__left {
  transform: translateX(100%);
}

.hero__half:hover .hero__inside {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.hero__title {
  font-size: 60px;
  margin-bottom: 32px;
}

.hero__btn {
  padding: 0.7rem 4rem;
}

.hero__btn:hover {
  background-color: hsl(26, 100%, 63%);
}

.collection__container {
  padding: 2rem;
  text-align: center;
  border-bottom: 2px solid hsl(223, 64%, 98%);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.collection__title {
  margin-bottom: 16px;
  color: hsl(220, 13%, 13%);
}

.collection__para {
  max-width: 700px;
  margin: 0 auto;
  color: hsl(219, 9%, 45%);
}

.collection__row {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.sneakers {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.sneaker__product {
  width: 25%;
  cursor: pointer;
  overflow: hidden;
  padding: 1.5rem;
}

.sneaker__product--skeleton {
  width: 25%;
  padding: 1.5rem;
}

.sneaker__img--skeleton {
  height: 280px;
  width: 100%;
  border-radius: 20px;
  background-color: #ccc;
  margin-bottom: 16px;
}

.sneaker__brand--skeleton {
  height: 16px;
  width: 80px;
  background-color: #ccc;
  border-radius: 20px;
  margin-bottom: 12px;
}

.sneaker__title--skeleton {
  height: 20px;
  width: 120px;
  background-color: #ccc;
  border-radius: 20px;
}

.sneaker__product:hover .sneaker__img {
  transform: scale(1.1);
}

.sneaker__product:hover .sneaker__title {
  color: hsl(26, 100%, 55%);
}

.sneaker__img--wrapper {
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 16px;
}

.sneaker__img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 20px;
  transition: all 300ms ease;
}

.sneaker__brand {
  color: hsl(219, 9%, 45%);
  font-size: 14px;
  font-weight: 600;
}

.sneaker__title {
  color: hsl(220, 13%, 13%);
  margin-bottom: 8px;
  transition: all 300ms ease;
}

.sneaker__price {
  color: hsl(220, 13%, 13%);
}

.sneaker__price .regular__price {
  margin-left: 8px;
}

#collection__sidebar {
  width: 20%;
}

.sidebar__wrapper {
  padding: 2rem;
}

.sidebar__filter--wrapper {
  margin-bottom: 2rem;
}

.filter__title {
  font-size: 28px;
  margin-bottom: 12px;
}

.sidebar__filter--brand {
  color: hsl(220, 13%, 13%);
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 8px;
  transition: all 300ms ease;
}

.sidebar__filter--brand:hover {
  color: hsl(26, 100%, 55%);
}

.sidebar__filter input[type='checkbox'] {
  border: none;
  outline: none;
}

#filter-selected {
  color: hsl(26, 100%, 55%);
}

#filter-selected::after {
  content: "\2713";
  color: hsl(26, 100%, 55%);
}

.mantine-Slider-track, .mantine-Slider-bar  {
  background-color: hsl(26, 100%, 55%) !important;
}

#hero__home {
  position: relative;
  overflow: hidden;
}

.slideshow__wrapper {
  height: 60vh;
  width: 100%;
  white-space: nowrap;
  transition: ease 1000ms;
}

.slideshow__wrapper::-webkit-scrollbar {
  display: none;
}

.hero__slideshow--frame {
  width: 100%;
  height: 60vh;
  position: relative;
  display: inline-block;
}

.home__slideshow--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home__backdrop {
  background-color: rgba(0, 0, 0, 0.301);
  width: 100%;
  height: 100%;
  position: absolute;
}

@keyframes slide-down {
  0% {
    transform: translate(-50%, -100%);
    filter: opacity(0)
  }
  100% {
    transform: translate(-50%, -50%);
    filter: opacity(1)
  }
}

.slideshow__description {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: slide-down 800ms ease;
}

.slideshow__title {
  color: #fff;
  font-size: 56px;
  display: inline;
  width: 80%;
  text-align: center;
  white-space: pre-line;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.slideshow__btn {
  position: absolute;
  color: #fff;
  font-size: 32px;
  background-color: transparent;
  border: none;
  color: hsl(26, 100%, 55%);
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 20;
  transition: all 300ms ease;
}

.slideshow__btn:hover {
  background-color: hsl(223, 64%, 98%);
}

.slideshow__btn:active {
  transform: scale(0.8);
}

.slideshow__left {
  top: 50%;
  left: 2%;
}

.slideshow__right {
  top: 50%;
  right: 2%;
}

.slideshow__indexes {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -95%);
}

.slideshow__index--btn {
  width: 20px; 
  height: 20px;
  background-color: transparent;
  border: 2px solid hsl(223, 64%, 98%);
  border-radius: 50%;
  margin: 0 8px;
  cursor: pointer;
  transition: all 200ms ease;
}

#slideshow__index--active {
  background-color: hsl(26, 100%, 55%);
  border-color: hsl(223, 64%, 98%);
}

.slideshow__index--btn:hover {
  background-color: hsl(223, 64%, 98%);
}

.slideshow__index--btn:active {
  transform: scale(0.8);
}


/* 

Featured 

*/

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(150%)
  }
  100% {
    opacity: 1;
    transform: translateX(-50%)
  }
}

.appear .section__title {
  animation: slide-left 800ms ease;
  opacity: 1;
  visibility: visible;
}

.appear .featured__btn {
  opacity: 1;
  visibility: visible;
}

.appear .featured__sneakers--wrapper {
  animation: slide-left 800ms ease;
  opacity: 1;
  visibility: visible;
}

.featured__sneakers--wrapper {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: opacity 800ms ease;
}

.featured__btn {
  animation: fade-in 800ms ease;
}

.featured__sneakers {
  width: 100%;
  position: relative;
  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  overflow-y: hidden;
}

.featured__sneakers::-webkit-scrollbar {
  display: none;
}

#featured__sneaker {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  white-space: pre-line;
}

#featured__sneaker .sneaker__img--wrapper {
  height: 240px;
}

.featured__btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 0.6rem 2rem;
  transition: all 300ms ease;
}

.featured__btn:hover {
  background-color: hsl(26, 100%, 63%);
}

/* Brands */

#brands {
  background-color: hsl(225, 67%, 98%);
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.brands__imgs--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  animation: slide-right 800ms ease;
}

.brand__img {
  filter: grayscale(1) opacity(0.75);
  width: 120px;
  margin: 0 1.5rem;
  margin-bottom: 16px;
}

/* Cta Row */

#cta {
  background-color: hsl(218, 100%, 98%);
}

.row__cta {
  background-image: linear-gradient(to right, hsl(29, 100%, 55%), hsl(19, 89%, 56%));
  border-radius: 20px;
  padding: 5rem 4rem;
  box-shadow: -1px 3px 40px 24px hsla(26, 100%, 55%, 0.205);
  overflow: hidden;
}


.row__cta.appear {
  animation: slide-right 800ms ease;
}

.cta__inside {
  display: flex;
  position: relative;
}

.cta__description {
  width: 60%;
}

.cta__img--wrapper {
  width: 500px;
  top: 67%;
  position: absolute;
  left: 80%;
  transform: translate(-50%, -50%);
}

.cta__img {
  width: 100%;
}

.cta__input--wrapper {
  background-color: hsl(223, 64%, 98%);
  width: 75%;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0.4rem 0.8rem 0.8rem;
  position: relative;
  border: 2px solid transparent;
  transition: all 300ms ease;
  margin-bottom: 8px;
}

.cta__input--wrapper:hover, .cta__input--wrapper:focus {
  border-color: hsl(219, 9%, 71%);
}

.cta__input {
  background-color: transparent;
  border: none;
  width: 70%;
  outline: none;
  font-weight: 500;
  font-size: 17px;
  color: hsl(220, 13%, 13%);
}

.cta__title {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.cta__para {
  color: hsl(218, 100%, 98%);
  font-weight: 500;
  font-size: 18px;
  width: 67%;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.cta__btn {
  background-color: hsl(26, 100%, 55%);
  color: hsl(225, 67%, 98%);
  font-weight: 700;
  border-radius: 20px;
  border: none;
  padding: 0.5rem 1.2rem;
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(-2%, -50%);
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 16px;
}

.cta__btn:hover {
  background-color: hsl(26, 100%, 63%);
}

.success__message {
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease;
  color: #fff;
  font-weight: 500;
}

.success__message--shown {
  visibility: visible;
  opacity: 1;
}

/* Account */

#account__sidebar {
  width: 18%;
}

.account__sidebar--wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.sidebar__title {
  font-size: 32px;
  margin-bottom: 1rem;
  color: hsl(220, 13%, 13%);
}

.account__divider {
  height: 2px;
  background-color: hsl(220, 14%, 75%);
  margin-bottom: 1rem;
}

.account__sidebar--link {
  background-color: transparent;
  border: none;
  padding: 0.8rem 0.2rem;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  color: hsl(220, 13%, 13%);
  cursor: pointer;
  border-radius: 4px;
}

.account__sidebar--link:hover {
  background-color: hsl(223, 64%, 98%);
}

#selected-account {
  background-color: hsl(223, 64%, 98%);
}

.account__row {
  justify-content: start;
}

.account__settings {
  width: 50%;
  margin-left: 10rem;
}

.account__title {
  margin-bottom: 1rem;
  font-size: 40px;
}

.account__input--wrapper {
  margin: 2rem 0;
}

.account__info--title {
  color: hsl(220, 13%, 13%);
  margin-bottom: 0.5rem;
}

.account__edit {
  background-color: hsl(223, 64%, 98%);
  color: hsl(220, 13%, 13%);
  border: none;
  font-weight: 700;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 16px;
  border-radius: 8px;
  transition: all 300ms ease;
}

.account__edit:hover {
  background-color: hsl(220, 14%, 75%);
}

.account__field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account__input {
  width: 70%;
  outline: none;
  padding: 10px 16px;
  background-color: hsl(223, 64%, 98%);
  border: 2px solid transparent;
  border-radius: 20px;
  font-size: 16px;
  margin-top: 8px;
  color: hsl(219, 9%, 45%);
  transition: all 300ms ease;
}

.account__input:hover, .account__input:focus {
  background-color: hsl(233, 22%, 93%);
  border: 2px solid hsl(26, 100%, 55%);
}

.account__buttons--wrapper {
  display: flex;
}

.account__edit--primary {
  background-color: hsl(26, 100%, 55%);
  color: #fff;
  margin-left: 1rem;
  transition: all 300ms ease;
}

.account__edit--primary:hover {
  background-color: hsl(26, 100%, 63%);
}

.account__info--value {
  color: hsl(219, 9%, 45%);
  margin: 0.5rem 0;
}

.fa-spinner-account {
  color: #fff;
  padding: 0;
  animation: spinner 600ms infinite linear;
  font-size: inherit;
}

.account__field--password {
  width: 80%;
}

.account__btn {
  background-color: rgb(245, 53, 53);
  padding: 12px 18px;
  box-shadow: -1px 3px 28px 1px rgba(245, 53, 53, 0.178);
  transition: all 300ms ease;
}
.account__btn:hover {
  background-color: rgb(223, 54, 54);
}

.wishlist {
  width: 67%;
  margin-left: 5rem;
}

.sneakers__wishlist {
  width: 100%;
  justify-content: space-between;
  margin-top: 3rem;
}

.sneaker__wishlist {
  padding: 0;
  width: 22%;
}

/* 

Support Page 

*/

#support__header .container {
  padding: 1.5rem 0;
}

.support__top--wrapper {
  width: 100%;
  height: 180px;
  position: relative;
  border-radius: 4px;
}

.support__top--img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.support__top--backdrop {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.301);
  position: absolute;
  top: 0;
}

.support__top--title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 48px;
  text-align: center;
}

.support__top--para {
  color: hsl(219, 9%, 45%);
  text-align: center;
  width: 70%;
  margin: 1rem auto;
  font-size: 18px;
}

.support__title {
  text-align: center;
  color: hsl(220, 13%, 13%);
  margin-top: 2rem;
}

.about__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.about__column {
  width: 33%;
  padding: 0rem 2rem;
  border-right: 2px solid #ccc;
}

.about__column:nth-last-child(1) {
  border: none;
}

.about__row {
  max-width: 1400px;
}

.about__title {
  color: hsl(220, 13%, 13%);
  margin-bottom: 2rem;
}
.contact--info--wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.contact__icon {
  color: hsl(220, 13%, 13%);
  font-size: 18px;
  width: 10%;
  text-align: left;
}

.contact__info {
  margin-left: 0.6rem;
}

.contact__title {
  color: hsl(220, 13%, 13%);
  font-size: 18px;
}

.contact__option {
  color: hsl(219, 9%, 45%);
  font-size: 15px;
}

.youtube {
  color: #FF0000;
}

.instagram {
  color: #C13584;
}

.facebook {
  color: #3b5998;
}

.whatsapp {
  color: #34b434;
}

.opening__time {
  padding: 1rem 0.8rem;
  display: flex;
  justify-content: space-between;
}

.dark {
  background-color: hsl(223, 64%, 98%);
}

.opening__time--hours {
  color: hsl(219, 9%, 45%);
  font-size: 15px;
}

.opening__time--title {
  color: hsl(220, 13%, 13%);
}

.location__sub-title {
  color: hsl(219, 9%, 45%);
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 12px;
}

.contact__wrapper {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}

.contact__form--wrapper {
  width: 48%;
  border: 2px solid hsl(225, 25%, 94%);
  border-radius: 8px;
  padding: 2rem;
  position: relative;
}


.contact__form--title {
  color: hsl(220, 13%, 13%);
  font-size: 24px;
  margin-bottom: 2rem;
}

.form__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}

input::placeholder, textarea::placeholder {
  color: hsl(219, 11%, 69%);
}

textarea {
  resize: none;
}

.contact__input {
  background-color: hsl(223, 64%, 98%);
  border: none;
  outline: none;
  width: 100%;
  padding: 0.8rem 0.8rem 0.8rem 0.6rem;
  border-radius: 4px;
  color: hsl(220, 13%, 13%);
  font-size: 16px;
  border: 2px solid transparent;
  transition: all 300ms ease;
}

.contact__input:hover {
  border: 2px solid hsl(218, 100%, 91%);
}

.contact__message {
  margin-top: 0.7rem;
  height: 160px;
}

.input__half {
  width: 49%;
}

.contact__form--bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.contact__btn:hover {
  background-color: hsl(26, 100%, 63%);
}

.contact__btn:active {
  transform: scale(0.9);
}

.contact__btn {
  padding: 0.6rem 2.5rem;
}

.contact__form--bottom--text {
  color: hsl(219, 9%, 45%);
}

.contact__chat--wrapper {
  width: 48%;
  position: relative;
}

.contact__chat--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.contact__chat--backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.404);
  position: absolute;
  top: 0;
  border-radius: 4px;
}

.contact__chat--inside {
  position: absolute;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__chat--icon {
  color: #fff;
  font-size: 80px;
  margin-bottom: 2rem;
}

.contact__chat--title {
  color: hsl(0, 0%, 100%);
  font-size: 40px;
  text-align: center;
}

.contact__chat--sub-title {
  color: hsl(218, 100%, 98%);
  font-size: 20px;
  text-align: center;
  margin-bottom: 1.2rem;
}

.contact__chat--btn {
  border: 2px solid hsl(29, 100%, 64%);
  background-color: transparent;
  padding: 0.6rem 3rem;
  color: #fff;
  font-size: 18px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: all 300ms ease;
}

.contact__chat--btn:hover {
  background-color: hsl(29, 100%, 55%);
}

.success__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success__inside {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success__icon {
  color: #34b434;
  font-size: 56px;
  margin-bottom: 1rem;
}

.success__title {
  text-align: center;
  color: hsl(220, 13%, 13%);
  font-size: 32px;
  margin-bottom: 1.5rem;
}

.success__overlay .success__message {
  color: hsl(219, 9%, 45%);
  visibility: visible;
  opacity: 1;
  text-align: center;
  width: 80%;
  line-height: 1.6;
}

/* --------------------------------------

Media Optimization 

----------------------------------------*/

@media (max-width: 1200px) {
  .nav__container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sneaker__product, .sneaker__product--skeleton {
    width: 33%;
  }

  .hero__inside {
    text-align: center;
  }
}


@media (max-width: 900px) {
  .nav__links {
    display: none;
  }

  .nav__right {
    display: none;
  }

  .nav__logo--mobile {
    display: block;
  }

  .menu__btn {
    display: block;
    border: none;
    background-color: transparent;
    color: hsl(219, 9%, 45%);
    font-size: 24px;
    cursor: pointer;
    transition: all 300ms ease;
  }

  .menu__btn:hover {
    color: hsl(220, 13%, 13%);
  }

  .mobile__cart {
    display: block;
    padding-right: 0;
  }

  .cart__toggle {
    margin-right: 0;
  }

  .mantine-Drawer-closeButton {
    color: hsl(219, 9%, 45%);
    font-size: 24px;
  }

  .mantine-Drawer-header {
    padding-bottom: 1rem;
    border-bottom: 2px solid hsl(220, 14%, 75%);
  }

  .mantine-Drawer-closeButton svg {
    transform: scale(1.4);
  }

  .mobile__links {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .nav__anchor--mobile {
    margin-left: 0;
    font-size: 20px;
    margin-bottom: 1rem;
  }

  .mobile__drawer--inside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
    height: 50%;
  }

  .mobile__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile__menu--btn {
    padding: 0.5rem 1.8rem;
  }

  .secondary__btn {
    border: 2px solid hsl(219, 9%, 45%);
    background-color: transparent;
    border-radius: 12px;
    padding: 0.5rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: hsl(219, 9%, 45%);
    cursor: pointer;
    transition: all 300ms ease;
  }

  .secondary__btn:hover {
    background-color: hsl(219, 9%, 45%);
    color: #fff;
  }

  .slideshow__title {
    font-size: 48px;
    width: 100%;
  }

  .cart__modal {
    margin-right: 1rem;
  }

  .sneaker__product {
    width: 50%;
  }

  .sneakers {
    width: 70%;
  }

  #collection__sidebar {
    width: 30%;
  }

  .product__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .product__imgs--wrapper {
    width: 70%;
    margin-bottom: 2rem;
  }

  .product__description {
    width: 70%;
  }

  .recommended__sneakers {
    flex-wrap: wrap;
  }

  .footer__container {
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .cta__img--wrapper {
    width: 500px;
    top: 67%;
    left: 90%;
  }

  .cta__input--wrapper {
    width: 90%;
  }

  .cta__para {
    width: 80%;
  }

  #collections__hero {
    flex-wrap: wrap;
    height: auto;
  }

  .hero__half {
    width: 100%;
  }

  .hero__inside {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
  }

  .about__column {
    width: 50%;
    margin-bottom: 2rem;
  }

  .contact__chat--title {
    font-size: 32px;
  }

  .contact__chat--sub-title {
    font-size: 18px;
  }
}

@media (max-width: 670px) {
  .sneaker__product, .sneaker__product--skeleton {
    width: 90%;
  }

  .sneakers {
    margin-left: 3rem;
    width: 70%;
  }

  footer {
    height: auto;
  }

  .contact__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact__form--wrapper {
    width: 80%;
    margin-bottom: 2rem;
  }

  .contact__chat--wrapper {
    height: 520px;
    width: 80%;
  }
}

@media (max-width: 540px) {

  .nav__container {
    position: relative;
  }

  .cart__modal {
    margin: 0 2rem;
    width: calc(100vw - 4rem);
  }

  .sneaker__product, .sneaker__product--skeleton {
    width: 80%;
  }

  .featured__btn {
    width: 67%;
  }

  .section__title {
    font-size: 36px;
  }

  .cta__description {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .row__cta {
    padding: 4rem 3rem;
    padding-bottom: 0;
  }

  .cta__inside {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;;
  }
  .cta__img--wrapper {
    position: relative;
    width: 400px;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    transform: translateY(5%);
  }
  .cta__input--wrapper {
    width: 100%;
  }

  footer {
    height: auto;
  }

  .footer__container {
    flex-direction: column;
    padding-left: 2rem;
  }

  .footer__info {
    margin-bottom: 2rem;
  }

  .footer__links {
    margin-bottom: 2rem;
  }

  #collections__hero {
    flex-wrap: wrap;
  }

  .hero__half {
    width: 100%;
  }

  .hero__inside {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    text-align: center;
  }

  .hero__title {
    font-size: 40px;
  }

  .hero__backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .hero__btn {
    padding: 0.9rem 3.2rem;
  }

  .collection__row {
    flex-wrap: wrap;
  }

  .sneakers {
    width: 100%;
    justify-content: center;
    margin-bottom: 4rem;
    margin-left: 0;
  }

  #collection__sidebar {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .sidebar__wrapper {
    width: 90%;
  }

  #collection__body .container {
    padding: 0.2rem 0;
  }
}